{% extends 'layout.html.twig' %}

{% block title %}
	{{parent()}}
	-
	{% trans %}Edit User{% endtrans %}
{% endblock %}

{% block content %}
	<h1>{% trans %}Edit user{% endtrans %}
		{{ user.pseudo }}</h1>
        
	{{ include('backoffice/user/_form.html.twig', {'button_label': 'Valider'}) }}

	{{ include('backoffice/user/_delete_form.html.twig') }}

	<a class="text-light" href="{{ path('backoffice_user_index') }}">
		<i class="fas fa-reply-all"></i>
	</a>
{% endblock %}
