{% extends 'layout.html.twig' %}

{% block title %}
	{{parent()}}
	-
	{% trans %}User index{% endtrans %}
{% endblock %}

{% block content %}
	<h1>{% trans %}List of users{% endtrans %}</h1>

	<div class="w-25 m-auto">
		<a class="btn btn-outline-success btn-sm" href="{{ path('backoffice_user_new') }}">
			<i class="fas fa-plus light opacity-75 fa-xs"></i>
		</a>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th>{% trans %}Avatar{% endtrans %}</th>
				<th>{% trans %}Pseudo{% endtrans %}</th>
				<th>{% trans %}Action{% endtrans %}</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>
						{% if user.avatar %}
							<img class="rounded-circle" src="{{ asset('images/avatars/' ~ user.avatar.imagePath) }}" width="30" alt="Image du personnage {{ user.pseudo }}">
						{% else %}
							<i class="fas fa-user-circle fa-2x"></i>
						{% endif %}
					</td>
					<td>{{ user.pseudo }}</td>
					<td>
						<a class="btn btn-warning btn-sm inline-block" href="{{ path('backoffice_user_show', {'id': user.id}) }}">
						<i class="far fa-eye"></i>
						</a>

						<a class="btn btn-primary btn-sm inline-block" href="{{ path('backoffice_user_edit', {'id': user.id}) }}">
						<i class="far fa-edit"></i>
						</a>
					</td>
				</tr>
			{% else %}
					<td colspan="3">Aucun utilisateur n'existe actuellement</td>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
