{% extends 'layout.html.twig' %}

{% block title %}
	{{parent()}} - Détails de l'utilisateur
{% endblock %}

{% block content %}
	<h1>Détails de l'utilisateur
		{{ user.pseudo }}</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ user.id }}</td>
			</tr>
			<tr>
				<th>Pseudo</th>
				<td>{{ user.pseudo }}</td>
			</tr>
			<tr>
				<th>Avatar</th>
				<td>
					{% if user.avatar != "" %}
						<img class="rounded-circle" src="{{ asset('images/avatars/' ~ user.avatar.imagePath) }}" alt="avatar-{{ user.pseudo }}" width="75">
					{% else %}
						<i class="fas fa-user-circle fa-2x"></i>
					{% endif %}
				</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{ user.email }}</td>
			</tr>
			<tr>
				<th>Roles</th>
				<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
			</tr>
		</tbody>
	</table>
	<a class="btn btn-primary btn-sm inline-block mb-2" href="{{ path('backoffice_user_edit', {'id': user.id}) }}">
		<i class="far fa-edit"></i>
	</a>

	{{ include('backoffice/user/_delete_form.html.twig') }}

	<a class="text-light" href="{{ path('backoffice_user_index') }}">
		<i class="fas fa-reply-all"></i>
	</a>

{% endblock %}
