{% set currentRoute = app.request.get('_route') %}
{% if route[1] != 'install' %}
	<header>
		<nav class="navbar navbar-expand-md d-flex flex-column">
			<p class="bandeau-info mb-0 text-white">
				<span class="bandeau-span">Nos jours ouvrés : Sam. Dim. et Lun. Livraison de 18h à 22h | Trappes, La Verrière, Montigny-Le-Br., Maurepas, Elancourt</span>
			</p>
			{# TODO ajouter breakpoint bandeau adapter vitesse ave padding right #}
			<div class="container-fluid">
				<a class="navbar-brand" href="{{path('app_index')}}">
					<img class="logo" src="{{ asset('images/logo.png') }}" alt="">
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
						<i id="burger" class="fas fa-bars"></i>
					</span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav me-auto mb-2 mb-md-0 flex-row flex-wrap"></ul>
					<ul class="navbar-nav me-4 mb-md-0 flex-row flex-wrap justify-content-start justify-content-md-end">
						<li class="nav-item">
							<a class="mx-1 nav-link {{ currentRoute == 'app_order' ? ' active' : '' }}" aria-current="page" href="{{ path('app_index') }}">
								<i class="fas fa-shopping-cart light opacity-75"></i>
								Mon panier
							</a>
						</li>
						<li class="nav-item">
							<a class="mx-1 nav-link {{ currentRoute == 'app_order_show' ? ' active' : '' }}" aria-current="page" href="{{ path('app_index') }}">
								<i class="fas fa-history light opacity-75"></i>
								Mes commandes
							</a>
						</li>
						<li class="nav-item">
							<a class="mx-1 nav-link {{ currentRoute == 'product_list' ? ' active' : '' }}" aria-current="page" href="{{ path('product_list') }}">
								<i class="fas fa-hamburger light opacity-75"></i>
								Nos produits
							</a>
						</li>
						<li class="nav-item me-auto">
							{% if app.user %}
								<li class="nav-item dropdown">
									<a class="dropdown-toggle btn" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
										{% if app.user.avatar %}
											<img class="rounded-pill" src="{{ asset('images/avatars/' ~ app.user.avatar.imagePath) }}" width="30" alt="Image du personnage {{ app.user.pseudo }}">
										{% else %}
											<i class="fas fa-user-circle fa-lg"></i>
										{% endif %}
										{{app.user.pseudo}}
									</a>
									<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
										<li>
											<a class="dropdown-item" href="{{ path('profil_user', {id:app.user.id}) }}">

												{% trans %}Profil{% endtrans %}
											</a>
										</li>
										{% if is_granted('ROLE_ADMIN') %}
											<li><hr class="dropdown-divider"></li>
											<li>
												<a class="dropdown-item" href="{{ path('backoffice_index') }}">
													<i class="fas fa-user-cog light opacity-75"></i>
													{% trans %}Backoffice{% endtrans %}
												</a>
											</li>
										{% endif %}
										<li><hr class="dropdown-divider"></li>
										<li>
											<a class="dropdown-item" href="{{ path('app_logout') }}">
												<i class="fas fa-sign-out-alt light opacity-75"></i>
												{% trans %}Logout{% endtrans %}
											</a>
										</li>
									</ul>
								</li>
							{% else %}
								<li class="nav-item">
									<a class="mx-1 nav-link {{ currentRoute == 'app_register' ? ' active' : '' }}" aria-current="page" href="{{path('app_register')}}">
										<i class="fas fa-user-edit light opacity-75"></i>
										{% trans %}Register{% endtrans %}
									</a>
								</li>
								<li class="nav-item">
									<a class="mx-1 nav-link {{ currentRoute == 'app_login' ? ' active' : '' }}" aria-current="page" href="{{path('app_login')}}">
										<i class="fas fa-sign-in-alt light opacity-75"></i>
										{% trans %}Sign in{% endtrans %}
									</a>
								</li>
							{% endif %}
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
{% endif %}
