{% set currentRoute = app.request.get('_route') %}
{% if route[1] != 'install' %}
	<header>
		<nav class="navbar navbar-expand-md">
			<div class="container-fluid">
				<a class="navbar-brand" href="{{path('app_index')}}">
					<img class="logo" src="{{ asset('images/logo.png') }}" alt="">
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
						<i id="burger" class="fas fa-bars"></i>
					</span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav me-auto mb-2 mb-md-0 flex-row flex-wrap"></ul>
					<ul class="navbar-nav me-4 mb-md-0 flex-row flex-wrap justify-content-start justify-content-md-end">
						<li class="nav-item">
							<a class="mx-1 nav-link {{ currentRoute == 'app_order' ? ' active' : '' }}" aria-current="page" href="{{ path('app_index') }}">
								<i class="fas fa-shopping-cart light opacity-75"></i>
								Mon panier
							</a>
						</li>
						<li class="nav-item">
							<a class="mx-1 nav-link {{ currentRoute == 'app_order_show' ? ' active' : '' }}" aria-current="page" href="{{ path('app_index') }}">
								<i class="fas fa-history light opacity-75"></i>
								Mes commandes
							</a>
						</li>
						<li class="nav-item">
							<a class="mx-1 nav-link {{ currentRoute == 'app_product_list' ? ' active' : '' }}" aria-current="page" href="{{ path('app_index') }}">
								<i class="fas fa-hamburger light opacity-75"></i>
								Nos produits
							</a>
						</li>
						<li class="nav-item me-auto">
							{% if app.user %}
								<li class="nav-item dropdown">
									<a class="dropdown-toggle btn" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
										{% if app.user.image %}
											<img class="rounded-pill" src="{{ asset('images/uploads/profil/' ~ app.user.image) }}" width="30" alt="Image du personnage {{ app.user.pseudo }}">
										{% else %}
											<svg xmlns="http://www.w3.org/2000/svg" width="30" fill="currentColor" class="bi bi-person-circle" viewbox="0 0 16 16">
												<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
												<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
											</svg>
										{% endif %}
										{{app.user.pseudo}}
									</a>
									<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
										<li>
											<a class="dropdown-item" href="{{ path('profil_user', {id:app.user.id}) }}">

												{% trans %}Profil{% endtrans %}
											</a>
										</li>
										{% if is_granted('ROLE_ADMIN') %}
											<li><hr class="dropdown-divider"></li>
											<li>
												<a class="dropdown-item" href="{{ path('backoffice_index') }}">
													<i class="fas fa-user-cog light opacity-75"></i>
													{% trans %}Backoffice{% endtrans %}
												</a>
											</li>
										{% endif %}
										<li><hr class="dropdown-divider"></li>
										<li>
											<a class="dropdown-item" href="{{ path('app_logout') }}">
												<i class="fas fa-sign-out-alt light opacity-75"></i>
												{% trans %}Logout{% endtrans %}
											</a>
										</li>
									</ul>
								</li>
							{% else %}
								<li class="nav-item">
									<a class="mx-1 nav-link {{ currentRoute == 'app_register' ? ' active' : '' }}" aria-current="page" href="{{path('app_register')}}">
										<i class="fas fa-user-edit light opacity-75"></i>
										{% trans %}Register{% endtrans %}
									</a>
								</li>
								<li class="nav-item">
									<a class="mx-1 nav-link {{ currentRoute == 'app_login' ? ' active' : '' }}" aria-current="page" href="{{path('app_login')}}">
										<i class="fas fa-sign-in-alt light opacity-75"></i>
										{% trans %}Sign in{% endtrans %}
									</a>
								</li>
							{% endif %}
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
{% endif %}
