{% set currentRoute = app.request.get('_route') %}
{% set route = currentRoute|split('_')%}
<div type="hidden" id="listOfAvatars" data-avatars="{{ listOfAvatars|json_encode }}"></div>

{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.pseudo) }}
    {{ form_row(form.avatar, {'id': 'user_avatar'} ) }}
    {% if route[1] == 'new' %}
            {{ form_row(form.plainPassword) }}
    {% endif %}
    {{ form_row(form.address) }}
    {{ form_row(form.city) }}

    {{ form_row(form.phone) }}
    {% if route[1] == 'edit' %}
            {{ form_row(form.roles) }}
    {% endif %}

    {{ form_row(form.newsletter) }}
<button id="modifyUser" class="btn btn-primary mb-2">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}

