<ul>
	<li><a class="btn btn-success btn-sm nav-side d-flex flew-row justify-content-around" href="{{ path('backoffice_index') }}"><i class="fas fa-tree"></i><i class="fas fa-cat"></i><i class="fas fa-home"></i><i class="fas fa-cat"></i><i class="fas fa-tree"></i></a></li>

	<li><a class="btn btn-primary btn-sm nav-side" href="{{ path('app_backoffice_order_index') }}">Liste des commandes</a></li>

	<li><a class="btn btn-primary btn-sm nav-side" href="{{ path('app_backoffice_order_show_waiting') }}">Commandes en attente</a></li>

	<li><a class="btn btn-primary btn-sm nav-side"href="{{ path('app_backoffice_product_category_index') }}">Catégories des produits</a></li>

	<li><a class="btn btn-primary btn-sm nav-side"href="{{ path('app_backoffice_product_index') }}">Liste des produits</a></li>

	<li><a class="btn btn-primary btn-sm nav-side"href="{{ path('app_backoffice_city_index') }}">Liste des villes</a></li>	

	<li><a class="btn btn-primary btn-sm nav-side"href="{{ path('backoffice_user_index') }}">Liste des utilisateurs</a></li>	

	<li><a class="btn btn-primary btn-sm nav-side"href="{{ path('app_backoffice_feedback_index') }}">Liste des feedbacks</a></li>	

	<li><a class="btn btn-primary btn-sm nav-side"href="{{ path('app_backoffice_newsletter_images_index') }}">Banque d'images newsletter</a></li>	

	<li><a class="btn btn-primary btn-sm nav-side"href="{{ path('app_backoffice_newsletter_index') }}">Liste des newsletter</a></li>	

	<li><a class="btn btn-primary btn-sm nav-side"href="{{ path('app_backoffice_avatar_category_index') }}">Catégories des avatars</a></li>	

	<li><a class="btn btn-primary btn-sm nav-side"href="{{ path('app_backoffice_avatar_index') }}">Liste des avatars</a></li>	

</ul>
