{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent()}}
	- Liste des catégories de produits
{% endblock %}

{% block content %}
	<h1>Liste des catégories de produits</h1>

	<div class="w-25 m-auto">
		<a class="btn btn-outline-success btn-sm" href="{{ path('app_backoffice_product_category_new') }}">
			<i class="fas fa-plus light opacity-75 fa-xs"></i>
		</a>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Points</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for product_category in product_categories %}
				<tr>
					<td>{{ product_category.id }}</td>
					<td>{{ product_category.name }}</td>
					<td>{{ product_category.points }}</td>
					<td>
						<a class="btn btn-warning btn-sm inline-block" href="{{ path('app_backoffice_product_category_show', {'id': product_category.id}) }}">
							<i class="far fa-eye"></i>
						</a>
						<a class="btn btn-primary btn-sm inline-block" href="{{ path('app_backoffice_product_category_edit', {'id': product_category.id}) }}">
							<i class="far fa-edit"></i>
						</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">Aucune catégorie de produits créée actuellement</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
