{% extends 'layout.html.twig' %}

{% block title %}{{parent()}} - Liste des avatars
{% endblock %}

{% block content %}
	<h1>Liste des avatars</h1>

	<div class="w-25 m-auto">
		<a class="btn btn-outline-success btn-sm" href="{{ path('app_backoffice_avatar_new') }}">
			<i class="fas fa-plus light opacity-75 fa-xs"></i>
		</a>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th>Avatar</th>
				<th>Nom</th>
				<th>Catégorie</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for avatar in avatars %}
				<tr>
					<td><img class="img-fluid img-product" src="{{ asset('images/avatars/' ~ avatar.imagePath) }}" alt=""></td>
					<td>{{ avatar.name }}</td>
					<td>{{ avatar.category.name }}</td>

					<td>
						<a class="btn btn-warning btn-sm inline-block" href="{{ path('app_backoffice_avatar_show', {'id': avatar.id}) }}">
							<i class="far fa-eye"></i>
						</a>
						<a class="btn btn-primary btn-sm inline-block" href="{{ path('app_backoffice_avatar_edit', {'id': avatar.id}) }}">
							<i class="far fa-edit"></i>
						</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">Aucun avatar disponible actuellement</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
