{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}
) }}

{# TODO refaire le details order #}
{% if listOfProductsInOrder is defined %}
	<div class="wpx-500 m-auto">
		<div class="d-flex flex-row text-light justify-content-between">
			<div class="w-25 text-start">Produits</div>
			<div class="w-25 text-end">Quantité</div>
		</div>
		{% for productsInOrder in listOfProductsInOrder %}
			<div class="d-flex flex-row text-light justify-content-between option-style">
				<div class="w-25 text-start">
					<select class="select-style" name="product_{{ productsInOrder.id }}" id="">
						{% for product in listOfProducts %}
							<option class="text-start" value="{{ product.id }}" {% if productsInOrder.id == product.id %} selected {% endif %}>{{ product.name }}
							</option>

						{% endfor %}
					</select>
				</div>
				<div class="w-25 text-end">
					<input min='1' max='10' class="text-center" type="number" name="qty_{{ productsInOrder.id }}" value="{{ productsInOrder.qty }}">
				</div>
			</div>
		{% endfor %}
	</div>
{% else %}
	<div class="d-flex flex-column">
		<label class="mb-2" for="new_details_order">Détails de la commande</label>
		<input class="form-control mb-3" type="text" name="new_details_order" value="">
	</div>
{% endif %}
<div class="d-flex flex-column mb-3">
	<label class="label-payment-mode" for="payment-mode">Mode de paiement</label>
	<select class="select-payment-mode m-auto" name="payment-mode" id="payment-mode">
		<option value="0" {{ order.paymentMode == 0 ? 'selected' : "" }}>Paypal</option>
		<option value="1" {{ order.paymentMode == 1 ? 'selected' : "" }}>Espèces</option>
	</select>
</div>
<div class="d-flex flex-column mb-3">
	<label class="label-payment-mode" for="city">Lieu de livraison</label>
	<select class="select-payment-mode m-auto" name="city" id="city">
		{% for city in listOfCities %}
			{% if order.city.id is defined %}
				<option value="{{ city.id }}" {{ order.city.id == city.id ? 'selected' : "" }}>{{ city.cityName }} - {{ city.zipCode }}
				</option>
			{% else %}
				<option value="{{ city.id }}">{{ city.cityName }} - {{ city.zipCode }}
				</option>
			{% endif %}
		{% endfor %}
	</select>
</div>

{{ form_widget(form) }}
<button class="btn btn-primary mb-2">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
