{% extends 'layout.html.twig' %}

{% block title %}{{parent()}} - Liste des commandes
{% endblock %}

{% block content %}
	<h1>Liste des commandes</h1>
	
	<div class="w-25 m-auto">
		<a class="btn btn-outline-success btn-sm" href="{{ path('app_backoffice_order_new') }}">
			<i class="fas fa-plus light opacity-75 fa-xs"></i>
		</a>
	</div>

	<table class="table">
		<thead>
			<tr>
				{# <th>Id</th> #}
				<th>Commande</th>
				<th>Date de livraison</th>
				<th>Status</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for order in orders %}
				<tr>
					{# <td>{{ order.id }}</td> #}
					<td>{{ order.orderNumber }}</td>
					{# <td>{{ order.deliveryDate ? order.deliveryDate|date('l F')|trans : '' }}</td> #}
					<td>
						{% if order.deliveryDate %}
							{{ order.deliveryDate|date('l')|trans }}
							{{ order.deliveryDate|date('j')|trans }}
							{{ order.deliveryDate|date('F')|trans }}
							{{ order.deliveryDate|date('Y') }}
						{% endif %}
					</td>
					<td>
						{% if order.status == 0 %}
							En attente
						{% elseif order.status == 1 %}
							Validée
						{% elseif order.status == 2 %}
							Payée
						{% elseif order.status == 3 %}
							Livrée
						{% elseif order.status == 4 %}
							Annulée
						{% endif %}
					</td>
					<td>
						<a class="btn btn-warning btn-sm inline-block" href="{{ path('app_backoffice_order_show', {'id': order.id}) }}">
							<i class="far fa-eye"></i>
						</a>
						<a class="btn btn-primary btn-sm inline-block" href="{{ path('app_backoffice_order_edit', {'id': order.id}) }}">
							<i class="far fa-edit"></i>
						</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">Aucune commande actuellement</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
