{% extends "layout.html.twig" %}

{% block title %}Backoffice - Commandes en attente{% endblock %}

{% block content %}
    <h1 class="text-center mb-5">Commandes en attente</h1>

    {% if orders != null %}
    <div class="d-flex flex-row text-center">
        <div class="w-25 text-light">ID</div>
        <div class="w-25 text-light">Date de livraison</div>
        <div class="w-25 text-light">Ville</div>
        <div class="w-25 text-light">Détails</div>
    </div>
    
    <div class="horizontal-separator w-75 my-3 m-auto bg-white" style="height: 1px;"></div>
        {% for order in orders %} 
            <div class="d-flex flex-row text-center">
                <div class="w-25 text-light">{{ order.id }}</div>
                <div class="w-25 text-light">
                	{% if order.deliveryDate %}
						{{ order.deliveryDate|date('l')|trans }}
						{{ order.deliveryDate|date('j')|trans }}
						{{ order.deliveryDate|date('F')|trans }}
						{{ order.deliveryDate|date('Y') }}
					{% endif %}
                </div>
                <div class="w-25 text-light">{{ order.city.cityName }}</div>
                <div class="w-25 text-light"><a class="btn btn-warning btn-sm" href="{{ path('app_backoffice_order_show', {id:order.id}) }}"><i class="far fa-eye"></i></a></div>
            </div>
            
            <div class="horizontal-separator w-75 my-3 m-auto bg-danger opacity-75" style="height: 1px;"></div>        
        {% endfor %}
        {% else %}
            <p>Il n'y a aucune commande en attente actuellement</p>
    {% endif %}
{% endblock %}