<!DOCTYPE html>
{% set currentRoute = app.request.get('_route') %}
{% set route = currentRoute|split('_') %}
{% set listOfAvatars = CallAvatars.getAvatars %}

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>
			{% block title %}Ocalm
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" integrity="sha512-BnbUDfEUfV0Slx6TunuB042k9tuKe3xrD6q4mg5Ed72LTgzDIcLPxg6yI2gcMFRyomt+yJJxE+zJwNmxki6/RA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
			<link rel="stylesheet" href="{{ asset('css/styles.css') }}">
			<link rel="stylesheet" href="{{ asset('css/textareaWithHTML.css') }}">
			<link rel="icon" href="{{ asset('images/favicon.png') }}"/>
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
			<script src="{{ asset('js/app.js') }}"></script>
			<script src="{{ asset('js/TextareaWithHTML.js') }}"></script>
			<script src="{{ asset('js/avatar_select.js') }}"></script>
			<script src="{{ asset('js/backofficehome.js') }}"></script>
			<script src="{{ asset('js/dynamicTime.js') }}"></script>
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
	<div id="currentRoute" type="hidden" data-data="{{ currentRoute }}">	</div>
		{% include "partials/_header_attempt.html.twig" %}

		{# Fait appel à la variable gloabale app.flashes intégrée à twig 
		https://symfony.com/doc/current/templates.html#the-app-global-variable #}
		{% include "partials/_flash.html.twig" %}

		<div class="d-flex flex-row">
			{% if app.user and is_granted('ROLE_ADMIN') %}
				<div id="menudecote" class="d-flex flex-row">
					<div id="listLink" class="text-light listLinkInactive">
						{% include "backoffice/partials/links.html.twig" %}
					</div>
					<button id="displayListLink">
						<i id="buttonSidebar" class="fas fa-chevron-right text-danger"></i>
					</button>
				</div>
			{% endif %}

			{% if Panier.showOrderDetails|length >= 1 %}
				<div id="panierdecote" class="d-flex flex-row">
					<button id="displayPanier">
						<i class="fas fa-shopping-cart fa-flip-horizontal text-danger" id="buttonPanier"></i>
					</button>
					<div id="listPanier" class="text-light panierInactive">
						{% include "partials/_panier.html.twig" %}
					</div>
				</div>
			{% endif %}
		</div>

		<main class="container-fluid text-center py-3 px-0"> {% block body %}{% endblock %}

			</main>
		</body>
	</html>
